body {
  margin: auto 0;
}

h1, h2, h3, h4, p{
  font-family: Helvetica, sans-serif;
}

a {
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
}

.header {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 12px 40px 12px 40px;
  background-color: #1E1E1E;
  color: #FFFFFF;
  width: 100%;
}

.cart {
  background-image: url(/img/cart.svg);
  width: 40px;
  height: 40px;
}

.navigation {
  text-transform: uppercase;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  flex-direction: row;
  padding: 12px 40px 12px 40px;
  border-bottom: #1E1E1E 2px solid;
}

.cover-card {
  display: flex;
  padding: 40px;
}

.cover-photo {
  width: 50vw;
  height: 50vw;
}

.cover-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 80px 40px 0 40px;
}

.button-div {
  align-self: center;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #1E1E1E;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  text-align: center;
}

.text-section {
  padding: 40px;
}

.features {
  background-color: #1E1E1E;
  color: #FFFFFF;
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 40px;
}

.feature-item {
  width: 50%;
}

.card {
  width: auto;
  height: 550px;
  padding-right: 20px;
  background-color: #FFFFFF;
}

.card-display {
  display: flex;
  padding: 40px;
  overflow: hidden;
}